<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Homing - New Project</title>
  </head>
  <body>
    <form id="newProject" action="#">
      <label>Title</label>
      <input type="text" name="title" />
      <label>Description</label>
      <input type="text" name="description" />
      <input type="submit" value="Send" />
    </form>
    <script>
      require('./new_project.js')
    </script>
  </body>
</html>
